@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.font-raleway {
  font-family: var(--raleway-font);
}

.font-catamaran {
  font-family: var(--catamaran-font);
}

body {
  font-family: font-raleway, sans-serif;
}
